<app-header></app-header>
<ion-content [fullscreen]="true">
    <div class="container">
        <div class="form">
            <p-table
            #dt
            [value]="users"
            [rows]="10"
            [paginator]="true"
            [rowsPerPageOptions]="[10, 25, 50]"
            [globalFilterFields]="['name', 'mail', 'role', 'droit']"
            [(selection)]="selectedUsers"
            dataKey="id"
            [customSort]="true"
            (sortFunction)="customSort($event)"
            styleClass="p-datatable-gridlines"
            >
            <!-- Actions -->
            <ng-template pTemplate="caption">
                <div class="flex gap-2 align-items-center justify-content-between">
                    <div class="flex column-gap-2">
                        <p-button label="Ajouter" icon="pi pi-plus" severity="success" size="small" (onClick)="openAdd()" />
                        <p-button label="Modifier" icon="pi pi-pencil" severity="warn" size="small" (onClick)="openEdit()" [disabled]="!selectedUsers?.length" />
                        <p-button label="Supprimer" icon="pi pi-trash" severity="danger" size="small" (onClick)="openDelete()" [disabled]="!selectedUsers?.length" />
                    </div>
                    <p-iconField iconPosition="left">
                        <p-inputIcon>
                            <i class="pi pi-search"></i>
                        </p-inputIcon>
                        <input pInputText type="text" type="text" (input)="applyGlobalFilter($event)" placeholder="Rechercher un utilisateur" />
                    </p-iconField>
                </div>
            </ng-template>

            <!-- En-têtes -->
            <ng-template pTemplate="header">
                <tr>
                <th style="width: 3rem"><p-tableHeaderCheckbox /></th>
                <th pSortableColumn="name">Nom prénom <p-sortIcon field="name" /></th>
                <th pSortableColumn="mail">Email <p-sortIcon field="mail" /></th>
                <th pSortableColumn="date">Adhérent <p-sortIcon field="date" /></th>
                <th pSortableColumn="role">Rôle <p-sortIcon field="role" /></th>
                <th pSortableColumn="droit">Droit <p-sortIcon field="droit" /></th>
                </tr>
            </ng-template>

            <!-- Corps -->
            <ng-template pTemplate="body" let-user>
                <tr>
                <td><p-tableCheckbox [value]="user" /></td>
                <td>{{ user.name }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.date }}</td>
                <td>
                    <span class="p-tag p-tag-rounded p-tag-info">{{ user.role }}</span>
                </td>
                <td>
                    <span class="p-tag p-tag-rounded p-tag-primary">{{ user.droit }}</span>
                </td>
                </tr>
            </ng-template>

            <!-- Message vide -->
            <ng-template pTemplate="emptymessage">
                <tr>
                <td colspan="6">Aucun utilisateur trouvé</td>
                </tr>
            </ng-template>
            </p-table>
        </div>
    </div>
</ion-content>