<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-container">
      <div class="header-container-title">Liste des Utilisateurs</div>
    </div>
    <div class="form">
      <p-table
        #dt
        [value]="users"
        [rows]="10"
        [paginator]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [globalFilterFields]="['name', 'email', 'rolesString', 'job']"
        [(selection)]="selectedUsers"
        dataKey="id"
        [customSort]="true"
        (sortFunction)="customSort($event)"
        styleClass="p-datatable-gridlines"
      >
        <!-- Actions -->
        <ng-template pTemplate="caption">
          <div class="flex gap-2 align-items-center justify-content-between">
            <div class="flex column-gap-2">
              <p-button
                label="Ajouter"
                icon="pi pi-plus"
                severity="success"
                size="small"
                (click)="openAdd()"
              />
              <p-button
                label="Modifier"
                icon="pi pi-pencil"
                severity="warn"
                size="small"
                (click)="openEdit()"
                [disabled]="!selectedUsers.length || selectedUsers.length > 1"
              />
              <p-button
                label="Supprimer"
                icon="pi pi-trash"
                severity="danger"
                size="small"
                (click)="openDelete()"
                [disabled]="!selectedUsers.length"
              />
            </div>
            <p-iconField iconPosition="left">
              <p-inputIcon>
                <i class="pi pi-search"></i>
              </p-inputIcon>
              <input
                pInputText
                [disabled]="visibleAdd || visibleEdit || visibleDelete"
                type="text"
                (input)="applyGlobalFilter($event)"
                placeholder="Rechercher un utilisateur"
              />
            </p-iconField>
          </div>
        </ng-template>

        <!-- En-têtes -->
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 3rem"><p-tableHeaderCheckbox /></th>
            <th pSortableColumn="name">
              Nom prénom <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="mail">Email <p-sortIcon field="mail" /></th>
            <th pSortableColumn="createdAt">
              Adhérent <p-sortIcon field="createdAt" />
            </th>
            <th pSortableColumn="roles">Rôle <p-sortIcon field="role" /></th>
            <th pSortableColumn="job">Métier <p-sortIcon field="job" /></th>
          </tr>
        </ng-template>

        <!-- Corps -->
        <ng-template pTemplate="body" let-user>
          <tr>
            <td><p-tableCheckbox [value]="user" /></td>
            <td>{{ user.firstname }} {{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.createdAt | date:'d MMMM y HH:mm' }}</td>
            <td>
              <p-tag
                *ngFor="let role of user.roles"
                [value]="role.name"
                class="mr-3"
                rounded="true"
              ></p-tag>
            </td>
            <td>
              <p-tag
                *ngFor="let job of user.job"
                [value]="job"
                class="mr-3"
                rounded="true"
              ></p-tag>
            </td>
          </tr>
        </ng-template>

        <!-- Message vide -->
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">Aucun utilisateur trouvé</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <!-- Add Modal -->
  <app-dynamic-form-modal
    [visible]="visibleAdd"
    mode="add"
    subtitle="Veuillez remplir les informations de l'utilisateur."
    [model]="userForm"
    [fields]="addFields"
    (submitted)="handleAdd($event)"
    (closed)="visibleAdd=false"
  ></app-dynamic-form-modal>

  <!-- Edit Modal -->
  <app-dynamic-form-modal
    [visible]="visibleEdit"
    mode="edit"
    subtitle="Modifier les informations de l'utilisateur sélectionné."
    [model]="userForm"
    [fields]="editFields"
    (submitted)="handleEdit($event)"
    (closed)="visibleEdit=false"
  ></app-dynamic-form-modal>

  <!-- Delete Confirm -->
  <app-confirm-modal
    [visible]="visibleDelete"
    header="Supprimer Utilisateurs"
    subtitle="Confirmer la suppression de {{selectedUsers.length}} utilisateurs?"
    color="danger"
    (submitted)="handleDelete()"
    (closed)="visibleDelete=false"
  ></app-confirm-modal>
</ion-content>
