<p-dialog
  [(visible)]="visible"
  (onHide)="closed.emit()"
  [header]="mode === 'add' ? addTitle : editTitle"
  [modal]="true"
  [style]="{ width: dialogWidth }"
  appendTo="body"
>
  <span class="p-text-secondary block mb-5">{{ subtitle }}</span>

  <ng-container *ngFor="let f of fields">
    <div class="flex gap-4 mb-3">
      <label class="w-7rem flex align-items-center">{{ f.label }}</label>

      <!-- text/email/password -->
      <input
        *ngIf="f.type === 'text' || f.type === 'email' || f.type === 'password'"
        [type]="f.type"
        pInputText
        [(ngModel)]="model[f.key]"
        [placeholder]="f.placeholder"
        class="w-full"
      />

      <!-- numeric input -->
      <p-inputNumber
        *ngIf="f.type === 'number'"
        [(ngModel)]="model[f.key]"
        [min]="f.min"
        [max]="f.max"
        [step]="1"
        [placeholder]="f.placeholder"
        class="w-full"
      ></p-inputNumber>

      <!-- time with mask -->
      <p-inputMask
        *ngIf="f.type === 'time'"
        mask="99:99"
        slotChar="0"
        [(ngModel)]="model[f.key]"
        placeholder="HH:MM"
        class="w-full"
      ></p-inputMask>

      <!-- multiselect -->
      <p-multiSelect
        *ngIf="f.type === 'multiselect'"
        [options]="f.options"
        [(ngModel)]="model[f.key]"
        [optionLabel]="f.optionLabel"
        [optionValue]="f.optionValue"
        [placeholder]="f.placeholder"
        display="chip"
        class="w-full"
        appendTo="body"
      ></p-multiSelect>

      <!-- chips -->
      <p-chips
        *ngIf="f.type === 'chips'"
        [(ngModel)]="model[f.key]"
        [placeholder]="f.placeholder"
        [separator]="separator"
        class="w-full"
      ></p-chips>

      <!-- date -->
      <p-datePicker
        *ngIf="f.type === 'date'"
        class="w-full"
        [(ngModel)]="model[f.key]"
        dateFormat="dd/mm/yy"
        showIcon
        appendTo="body"
      ></p-datePicker>

      <!-- select -->
      <p-dropdown
        *ngIf="f.type === 'select'"
        filter
        [options]="f.options"
        [(ngModel)]="model[f.key]"
        [optionLabel]="f.optionLabel"
        [optionValue]="f.optionValue"
        [placeholder]="f.placeholder"
        class="w-full"
        appendTo="body"
      />
    </div>
  </ng-container>

  <div class="flex justify-content-end gap-2 mt-2">
    <p-button label="Annuler" severity="secondary" (click)="closed.emit()" />
    <p-button
      [label]="mode === 'add' ? addButtonLabel : editButtonLabel"
      (click)="submitted.emit(model)"
    />
  </div>
</p-dialog>
