<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-container">
      <div class="header-container-title">Dashboard</div>
    </div>
    <div class="grid">
      <div class="sm:col-3 col-12">
        <div class="card">
          <div class="card-title">Chantiers Actifs</div>
          <div class="card-value">{{ activeChantiers }}</div>
        </div>
      </div>
      <div class="sm:col-3 col-12">
        <div class="card">
          <div class="card-title">Tâches en cours</div>
          <div class="card-value">{{ inProgressTasks }}</div>
        </div>
      </div>
      <div class="sm:col-3 col-12">
        <div class="card">
          <div class="card-title">Tâches terminées</div>
          <div class="card-value">{{ completedTasks }}</div>
        </div>
      </div>
      <div class="sm:col-3 col-12">
        <div class="card">
          <div class="card-title">Utilisateurs Actifs</div>
          <div class="card-value">{{ activeUsers }}</div>
        </div>
      </div>
    </div>
    <div class="grid">
      <!-- CHART 1: Tâches par statut -->
      <div class="mt-2 xl:col-6 col-12">
        <div class="card">
          <div class="card-title">Tâches par statut</div>
          <p-chart
            type="bar"
            [data]="tasksData"
            [options]="tasksOptions"
          ></p-chart>
        </div>
      </div>

      <!-- CHART 2: Problèmes par statut -->
      <div class="mt-2 xl:col-6 col-12">
        <div class="card">
          <div class="card-title">Problèmes par statut</div>
          <p-chart
            type="bar"
            [data]="problemsData"
            [options]="problemsOptions"
          ></p-chart>
        </div>
      </div>

      <!-- LISTE DES CHANTIERS -->
      <div class="mt-2 col-12">
        <div class="card">
          <div class="card-title">Tout les chantier</div>
          <div class="grid mt-1">
            <div *ngFor="let ct of chantiers" class="col-12 xl:col-6">
              <div
                [routerLink]="['/sites', ct.id]"
                class="cursor-pointer p-md-4 flex border-round-lg bg-white"
              >
                <img
                  [src]="ct.images?.[0]"
                  alt="img"
                  class="border-round-lg border-noround-right h-6rem w-8rem"
                />
                <div
                  class="pl-3 p-2 pr-1 justify-content-between flex flex-column w-full"
                >
                  <div>
                    <div class="text-lg font-bold">{{ ct.title }}</div>
                    <div class="text-sm">
                      Client: {{ ct.client.firstname }} {{ ct.client.name }}
                    </div>
                  </div>
                  <div class="flex mt-2">
                    <div
                      class="text-center pr-2 w-full"
                      *ngFor="let ph of ct.phases"
                    >
                      <p-progressBar
                        [value]="utils.getPhaseProgress(ph)"
                        [showValue]="false"
                      ></p-progressBar>
                      <div class="text-xs mt-1">{{ ph.name }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- HISTORIQUE DES MISSIONS -->
      <div class="mt-2 xl:col-6 col-12">
        <div class="card">
          <div class="card-title">Liste des Tâches</div>
          <div class="flex gap-2">
            <p-select
              [options]="chantierOptions"
              [(ngModel)]="historyChantierId"
              optionLabel="label"
              optionValue="value"
              filter
              placeholder="Chantier"
            ></p-select>
            <p-select
              [options]="stateOptions"
              [(ngModel)]="historyState"
              optionLabel="label"
              optionValue="value"
              filter
              placeholder="État"
            ></p-select>
            <p-select
              [options]="priorityOptions"
              [(ngModel)]="historyPriority"
              optionLabel="label"
              optionValue="value"
              filter
              placeholder="Priorité"
            ></p-select>
          </div>
          <div class="mt-3">
            <p-table [value]="historyTasks" [rows]="5" [paginator]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>Description</th>
                  <th>Responsable</th>
                  <th>Date de fin</th>
                  <th>Priorité</th>
                  <th>État</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-task>
                <tr>
                  <td>{{ task.name }}</td>
                  <td>
                    {{ task.assignments[0]?.users[0]?.firstname || '—'}} {{
                    task.assignments[0]?.users[0]?.name}}
                  </td>
                  <td>{{ task.doneDate || task.dueDate | date:'d MMMM y' }}</td>
                  <td>
                    <p-tag
                      [value]="task.priority"
                      [severity]="utils.getPrioritySeverity(task.priority)"
                      class="text-xs"
                    >
                    </p-tag>
                  </td>
                  <td>
                    <p-tag
                      [value]="utils.getTaskState(task)"
                      [severity]="utils.getTaskSeverity(task)"
                      class="text-xs"
                    ></p-tag>
                  </td>
                </tr>
              </ng-template>

              <!-- Message vide -->
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Aucune tâche trouvé</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>

      <!-- PROBLÈMES EN COURS -->
      <div class="mt-2 xl:col-6 col-12">
        <div class="card">
          <div class="card-title">Liste des problèmes</div>
          <div class="flex gap-2">
            <p-select
              [options]="chantierOptions"
              [(ngModel)]="problemChantierId"
              optionLabel="label"
              optionValue="value"
              filter
              placeholder="Chantier"
            ></p-select>
            <p-select
              [options]="statusOptions"
              [(ngModel)]="problemStatus"
              optionLabel="label"
              optionValue="value"
              filter
              placeholder="Statut"
            ></p-select>
            <p-select
              [options]="priorityOptions"
              [(ngModel)]="problemPriority"
              optionLabel="label"
              optionValue="value"
              filter
              placeholder="Priorité"
            ></p-select>
          </div>
          <div class="mt-3">
            <p-table [value]="filteredProblems" [rows]="5" [paginator]="true">
              <ng-template pTemplate="header">
                <tr>
                  <th>Problème</th>
                  <th>Émetteur</th>
                  <th>Date</th>
                  <th>Priorité</th>
                  <th>Statut</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-p>
                <tr>
                  <td>{{ p.title }}</td>
                  <td>{{ p.user.firstname }}</td>
                  <td>{{ p.createdAt | date:'d MMMM y' }}</td>
                  <td>
                    <p-tag
                      [value]="p.priority"
                      [severity]="utils.getPrioritySeverity(p.priority)"
                      class="text-xs"
                    >
                    </p-tag>
                  </td>
                  <td>
                    <p-tag
                      [value]="p.status"
                      [severity]="utils.getStatusSeverity(p.status)"
                      class="text-xs"
                    >
                    </p-tag>
                  </td>
                </tr>
              </ng-template>

              <!-- Message vide -->
              <ng-template pTemplate="emptymessage">
                <tr>
                  <td colspan="6">Aucun problème trouvé</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
