<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-container">
      <div class="header-container-title">Liste des chantiers</div>
      <p-button
        label="Nouveau chantier"
        icon="pi pi-plus"
        (click)="openAddChantier()"
      ></p-button>
    </div>
    <ng-container *ngFor="let ct of projets; index as i;">
      <!-- Encadré chantier -->
      <div class="form p-4 mb-4">
        <!-- En-tête du chantier -->
        <div class="w-fu flex justify-content-between mb-6">
          <div class="flex items-start">
            <ion-img
              src="assets/chantier-icon.png"
              class="w-5rem h-5rem rounded bg-gray-200"
            ></ion-img>
            <div class="ml-4 flex flex-column justify-content-evenly">
              <div class="text-xl font-semibold mb-2">{{ ct.title }}</div>
              <div class="text-sm text-gray-600">
                <div>Client : {{ ct.client.firstname }}</div>
                <div class="mt-1">Adresse : {{ ct.address }}</div>
              </div>
            </div>
          </div>
          <div class="md:mt-0 text-right flex flex-column">
            <div class="flex align-items-center justify-content-end">
              <div>
                <div class="text-sm text-gray-600">Début : {{ ct.start }}</div>
                <div class="text-sm text-gray-600 mt-1">
                  Fin estimée : {{ ct.end }}
                </div>
              </div>
              <p-button
                icon="pi pi-times"
                variant="text"
                [rounded]="true"
                severity="secondary"
                class="ml-2"
                (click)="openDeleteChantier(i)"
              ></p-button>
            </div>

            <div class="flex align-items-center mt-3">
              <span class="mr-2 text-sm text-gray-600">Avancement global</span>
              <p-progressBar
                [value]="ct.progress"
                [showValue]="false"
                class="global-progress-bar"
              ></p-progressBar>
              <span class="ml-2 text-sm font-semibold">
                {{ ct.progress }}%
              </span>
            </div>
          </div>
        </div>

        <!-- Phases en grille 2 colonnes -->
        <div class="grid">
          <div class="col-6" *ngFor="let ph of ct.phases; index as j;">
            <div class="phase justify-content-between flex flex-column">
              <div>
                <div
                  class="flex justify-content-between mb-4 align-items-center"
                >
                  <div class="flex text-base font-semibold">
                    <i class="pi pi-layer-group"></i>
                    <span>{{ ph.name }}</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <p-button
                      icon="pi pi-times"
                      variant="text"
                      [rounded]="true"
                      severity="secondary"
                      class="p-button-sm p-0"
                      (click)="openDeletePhase(i, j)"
                    ></p-button>
                  </div>
                </div>

                <div
                  *ngFor="let t of ph.tasks; index as k"
                  class="flex justify-content-between align-items-center mb-1"
                >
                  <div class="flex items-center">
                    <p-checkbox
                      binary="true"
                      [(ngModel)]="t.done"
                      class="p-checkbox-sm"
                      readonly
                    ></p-checkbox>
                    <span
                      class="ml-2 text-sm"
                      [ngClass]="{ 'line-through text-gray-500': t.done }"
                    >
                      {{ t.name }}
                    </span>
                  </div>
                  <div class="flex align-items-center">
                    <div class="text-right text-xs ml-2 text-gray-500">
                      <ng-container *ngIf="t.doneDate">
                        Terminé le {{ t.doneDate }}
                      </ng-container>
                      <ng-container *ngIf="!t.doneDate && t.dueDate">
                        À faire pour le {{ t.dueDate }}
                      </ng-container>
                    </div>
                    <p-button
                      icon="pi pi-times"
                      variant="text"
                      [rounded]="true"
                      severity="secondary"
                      class="small-icon-btn ml-2"
                      (click)="openDeleteTask(i, j, k)"
                    ></p-button>
                  </div>
                </div>
                <p-button variant="text" (click)="openAddTask(i, j)">
                  + Ajouter une tâche
                </p-button>
              </div>
              <div
                class="mt-3 flex gap-2 align-items-center justify-content-end"
              >
                <span class="mr-0 text-sm text-gray-600">Avancement</span>
                <p-progressBar
                  [value]="ph.progress"
                  [showValue]="false"
                  class="phase-progress-bar"
                ></p-progressBar>
                <span class="text-sm font-medium">{{ ph.progress }}%</span>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div (click)="openAddPhase(i)" class="phase phase-add">
              <i class="pi pi-plus text-gray-500 text-xl"></i>
            </div>
          </div>
        </div>

        <!-- Footer des intervenants -->
        <div class="mt-4 flex align-items-center">
          <div class="flex">
            <p-avatar
              *ngFor="let u of ct.intervenants"
              [image]="u.avatar"
              class="-mr-3 w-2rem h-2rem border-circle border-solid border-400 border-1"
            ></p-avatar>
          </div>
          <span class="ml-4 text-sm text-gray-600">
            {{ ct.intervenants.length }} intervenants
          </span>
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>

<!-- Modal : Ajouter un Chantier -->
<p-dialog
  header="Ajouter un nouveau chantier"
  [(visible)]="visibleAddChantier"
  [modal]="true"
  [style]="{ width: '28rem' }"
  appendTo="body"
>
  <div class="flex align-items-center gap-4 mb-3">
    <label class="font-semibold w-2">Titre</label>
    <input
      class="w-full"
      pInputText
      class="flex-1"
      [(ngModel)]="newChantier.title"
    />
  </div>
  <div class="flex align-items-center gap-4 mb-3">
    <label class="font-semibold w-2">Client</label>
    // todo select
  </div>
  <div class="flex align-items-center gap-4 mb-3">
    <label class="font-semibold w-2">Adresse</label>
    <input
      class="w-full"
      pInputText
      class="flex-1"
      [(ngModel)]="newChantier.address"
    />
  </div>
  <div class="flex align-items-center gap-4 mb-3">
    <label class="font-semibold w-2">Début</label>
    <p-calendar
      class="flex-1"
      [(ngModel)]="newChantier.start"
      dateFormat="dd/mm/yy"
      showIcon
    ></p-calendar>
  </div>
  <div class="flex align-items-center gap-4 mb-5">
    <label class="font-semibold w-2">Fin estimée</label>
    <p-calendar
      class="flex-1"
      [(ngModel)]="newChantier.end"
      dateFormat="dd/mm/yy"
      showIcon
    ></p-calendar>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Annuler" severity="secondary" (click)="cancelChantier()" />
    <p-button label="Ajouter" (click)="confirmChantier()" />
  </div>
</p-dialog>

<!-- Modal : Ajouter une Phase -->
<p-dialog
  header="Ajouter une phase"
  [(visible)]="visibleAddPhase"
  [modal]="true"
  [style]="{ width: '24rem' }"
  appendTo="body"
>
  <div class="flex align-items-center gap-4 mb-3 mb-5">
    <label class="font-semibold w-2">Nom phase</label>
    <input
      class="w-full"
      pInputText
      class="flex-1"
      [(ngModel)]="newPhase.name"
    />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Annuler" severity="secondary" (click)="cancelPhase()" />
    <p-button label="Ajouter" (click)="confirmPhase()" />
  </div>
</p-dialog>

<!-- Modal : Ajouter une Tâche -->
<p-dialog
  header="Ajouter une tâche"
  [(visible)]="visibleAddTask"
  [modal]="true"
  [style]="{ width: '24rem' }"
  appendTo="body"
>
  <div class="flex align-items-center gap-4 mb-3">
    <label class="font-semibold w-2">Libellé</label>
    <input
      class="w-full"
      pInputText
      class="flex-1"
      [(ngModel)]="newTask.name"
    />
  </div>
  <div class="flex align-items-center gap-4 mb-5">
    <label class="font-semibold w-2">Date cible</label>
    <p-calendar
      class="flex-1"
      [(ngModel)]="newTask.dueDate"
      dateFormat="dd/mm/yy"
      showIcon
    ></p-calendar>
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button label="Annuler" severity="secondary" (click)="cancelTask()" />
    <p-button label="Ajouter" (click)="confirmTask()" />
  </div>
</p-dialog>

<!-- MODAL : Supprimer Chantier -->
<p-dialog
  header="Confirmer la suppression"
  [(visible)]="visibleDeleteChantier"
  [modal]="true"
  [style]="{ width: '24rem' }"
  appendTo="body"
>
  <p>
    Voulez-vous vraiment supprimer le chantier "<strong
      >{{ projets[selectedChantierIndex].title }}</strong
    >" ?
  </p>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Annuler" (click)="cancelDeleteChantier()"></p-button>
      <p-button
        label="Supprimer"
        severity="danger"
        (click)="confirmDeleteChantier()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- MODAL : Supprimer Phase -->
<p-dialog
  header="Confirmer la suppression"
  [(visible)]="visibleDeletePhase"
  [modal]="true"
  [style]="{ width: '24rem' }"
  appendTo="body"
>
  <p>
    Supprimer la phase "<strong
      >{{ projets[selectedChantierIndex].phases[selectedPhaseIndex].name
      }}</strong
    >" ?
  </p>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Annuler" (click)="cancelDeletePhase()"></p-button>
      <p-button
        label="Supprimer"
        severity="danger"
        (click)="confirmDeletePhase()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>

<!-- MODAL : Supprimer Tâche -->
<p-dialog
  header="Confirmer la suppression"
  [(visible)]="visibleDeleteTask"
  [modal]="true"
  [style]="{ width: '24rem' }"
  appendTo="body"
>
  <p>
    Supprimer la tâche "<strong>
      {{
      projets[selectedChantierIndex].phases[selectedPhaseIndex].tasks[selectedTaskIndex].name
      }}
    </strong>
    " ?
  </p>
  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <p-button label="Annuler" (click)="cancelDeleteTask()"></p-button>
      <p-button
        label="Supprimer"
        severity="danger"
        (click)="confirmDeleteTask()"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
