<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-container">
      <div class="header-container-title">Liste des chantiers</div>
      <div class="flex justify-content-end align-items-center gap-2">
        <p-button
          label="Nouveau chantier"
          icon="pi pi-plus"
          (click)="openAddChantier()"
        ></p-button>
        <p-select
          [options]="chantierOptions"
          [(ngModel)]="selectedChantierIndex"
          optionLabel="label"
          optionValue="value"
          placeholder="Sélectionner un chantier"
          filter
          (onChange)="onChantierChange()"
          panelStyleClass="w-full"
        ></p-select>
      </div>
    </div>
    <ng-container *ngIf="filteredChantier">
      <!-- Encadré chantier -->
      <div class="form p-4 mb-4">
        <!-- En-tête du chantier -->
        <div class="sm:flex justify-content-between mb-4 relative">
          <div class="flex items-start">
            <ion-img
              [src]="filteredChantier.images?.[0]"
              class="image-chantier"
            ></ion-img>
            <div class="ml-3 mr-6 sm:mr-0  flex flex-column justify-content-evenly">
              <div class="text-xl font-semibold mb-2">{{ filteredChantier.title }}</div>
              <div class="text-sm text-gray-600">
                <div>Client : {{ filteredChantier.client.firstname }} {{ filteredChantier.client.name }}</div>
                <div class="mt-1">Adresse : {{ filteredChantier.address }}</div>
              </div>
            </div>
          </div>
          <div class="md:mt-0 mt-3 sm:text-right flex flex-column">
            <div class="flex align-items-center sm:justify-content-end">
              <div>
                <div class="text-sm text-gray-600">Début : {{ filteredChantier.start | date:'d MMMM y' }}</div>
                <div class="text-sm text-gray-600 mt-1">
                  Fin estimée : {{ filteredChantier.end | date:'d MMMM y' }}
                </div>
              </div>
              <p-button
                icon="pi pi-times"
                variant="text"
                [rounded]="true"
                severity="secondary"
                class="ml-2 -mt-1 right-0 top-0 small-absolute"
                (click)="openDeleteChantier(filteredChantierIndex)"
              ></p-button>
            </div>

            <div class="flex align-items-center mt-1 sm:mt-3 sm:justify-content-end">
              <span class="mr-2 text-sm text-gray-600">Avancement global</span>
              <p-progressBar
                [value]="utils.getChantierProgress(filteredChantier)"
                [showValue]="false"
                class="global-progress-bar"
              ></p-progressBar>
              <span class="ml-2 text-sm font-semibold">
                {{ utils.getChantierProgress(filteredChantier) }}%
              </span>
            </div>
          </div>
        </div>

        <!-- Phases en grille 2 colonnes -->
        <div class="grid">
          <div class="sm:col-6 col-12" *ngFor="let ph of filteredChantier.phases; index as j;">
            <div class="phase justify-content-between flex flex-column">
              <div>
                <div
                  class="flex justify-content-between mb-4 align-items-center"
                >
                  <div class="flex text-base font-semibold">
                    <i class="pi pi-layer-group"></i>
                    <span>{{ ph.name }}</span>
                  </div>
                  <div class="flex items-center gap-2">
                    <p-button
                      icon="pi pi-times"
                      variant="text"
                      [rounded]="true"
                      severity="secondary"
                      class="p-button-sm p-0"
                      (click)="openDeletePhase(filteredChantierIndex, j)"
                    ></p-button>
                  </div>
                </div>

                <div
                  *ngFor="let t of ph.tasks; index as k"
                  class="flex justify-content-between align-items-center mb-1"
                >
                  <div class="flex items-center">
                    <p-checkbox
                      binary="true"
                      [(ngModel)]="t.done"
                      class="p-checkbox-sm"
                      readonly
                    ></p-checkbox>
                    <span
                      class="ml-2 text-sm"
                      [ngClass]="{ 'line-through text-gray-500': t.done }"
                    >
                      {{ t.name }}
                    </span>
                  </div>
                  <div class="flex align-items-center">
                    <div class="text-right text-xs ml-2 text-gray-500">
                      <ng-container *ngIf="t.doneDate">
                        Terminé le {{ t.doneDate | date:'d MMMM y' }}
                      </ng-container>
                      <ng-container *ngIf="!t.doneDate && t.dueDate">
                        À faire le {{ t.dueDate | date:'d MMMM y' }}
                      </ng-container>
                    </div>
                    <p-button
                      icon="pi pi-times"
                      variant="text"
                      [rounded]="true"
                      severity="secondary"
                      class="small-icon-btn ml-2"
                      (click)="openDeleteTask(filteredChantierIndex, j, k)"
                    ></p-button>
                  </div>
                </div>
                <p-button variant="text" (click)="openAddTask(filteredChantierIndex, j)">
                  + Ajouter une tâche
                </p-button>
              </div>
              <div
                class="mt-3 flex gap-2 align-items-center justify-content-end"
              >
                <span class="mr-0 text-sm text-gray-600">Avancement</span>
                <p-progressBar
                  [value]="utils.getPhaseProgress(ph)"
                  [showValue]="false"
                  class="phase-progress-bar"
                ></p-progressBar>
                <span class="text-sm font-medium">{{ utils.getPhaseProgress(ph) }}%</span>
              </div>
            </div>
          </div>
          <div class="sm:col-6 col-12">
            <div (click)="openAddPhase(filteredChantierIndex)" class="phase phase-add">
              <i class="pi pi-plus text-gray-500 text-xl"></i>
            </div>
          </div>
        </div>

        <!-- Footer des intervenants -->
        <div class="mt-4 flex align-items-center">
          <div class="avatar-stack flex">
            <ion-img
              *ngFor="let u of filteredChantier.intervenants| slice:0:5"
              [src]="u.avatar"
            ></ion-img>
            <div
              *ngIf="filteredChantier.intervenants.length > 5"
              class=" flex align-items-center justify-content-center bg-gray-200 text-xs text-gray-500 font-semibold"
            >
              +{{ filteredChantier.intervenants.length - 5 }}
            </div>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
  <!-- Add Chantier -->
  <app-dynamic-form-modal
    [visible]="visibleAddChantier"
    mode="add"
    header="Ajouter un nouveau chantier"
    subtitle="Veuillez remplir les informations du chantier."
    [model]="newChantier"
    [fields]="chantierFields"
    (submitted)="handleAddChantier($event)"
    (closed)="visibleAddChantier=false"
  ></app-dynamic-form-modal>

  <!-- Delete Chantier Confirm -->
  <app-confirm-modal
    [visible]="visibleDeleteChantier"
    header="Supprimer un chantier"
    subtitle="Voulez-vous vraiment supprimer le chantier « {{selectedChantierName}} » ? "
    color="danger"
    (submitted)="confirmDeleteChantier()"
    (closed)="visibleDeleteChantier=false"
  ></app-confirm-modal>

  <!-- Add Phase -->
  <app-dynamic-form-modal
    [visible]="visibleAddPhase"
    mode="add"
    header="Ajouter une phase"
    subtitle="Saisissez le nom de la phase."
    [model]="newPhase"
    [fields]="phaseFields"
    (submitted)="handleAddPhase($event)"
    (closed)="visibleAddPhase=false"
  ></app-dynamic-form-modal>

  <!-- Delete Phase Confirm -->
  <app-confirm-modal
    [visible]="visibleDeletePhase"
    header="Supprimer une phase"
    subtitle="Supprimer la phase « {{selectedPhaseName}} » ? "
    color="danger"
    (submitted)="confirmDeletePhase()"
    (closed)="visibleDeletePhase=false"
  ></app-confirm-modal>

  <!-- Add Task -->
  <app-dynamic-form-modal
    [visible]="visibleAddTask"
    mode="add"
    header="Ajouter une tâche"
    subtitle="Saisissez les détails de la tâche."
    [model]="newTask"
    [fields]="taskFields"
    (submitted)="handleAddTask($event)"
    (closed)="visibleAddTask=false"
  ></app-dynamic-form-modal>

  <!-- Delete Task Confirm -->
  <app-confirm-modal
    [visible]="visibleDeleteTask"
    header="Supprimer une tâche"
    subtitle="Supprimer la tâche « {{selectedTaskName}}  » ?"
    color="danger"
    (submitted)="confirmDeleteTask()"
    (closed)="visibleDeleteTask=false"
  ></app-confirm-modal>
</ion-content>